<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <!-- 定义应用名 -->
    <dubbo:application name="dubbo-firework-quote"/>

    <!-- 定义注册中心地址 -->
    <dubbo:registry address="zookeeper://101.43.3.46:2181"/>

    <!-- 协议 -->
    <dubbo:protocol port="20888"/>

    <!-- 费用管理-->
    <dubbo:service interface="org.firework.api.ISettleManageRpcService" ref="settleManageRpcService" retries="0" timeout="60000">
        <dubbo:parameter key="topic" value="DISCOUNT"/>
    </dubbo:service>

    <bean id="settleManageRpcService" class="org.firework.discount.service.SettleManageRpcService"/>

    <!-- 费用计算-->
    <dubbo:service interface="org.firework.api.ICalSettleRpcService" ref="discountCalSettleRpcService" retries="0" timeout="60000">
        <dubbo:parameter key="topic" value="DISCOUNT"/>
    </dubbo:service>

    <bean id="discountCalSettleRpcService" class="org.firework.discount.service.DiscountCalSettleRpcService"/>

</beans>